server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: manage
  main:
    allow-circular-references: true
  datasource:
    driver-class-name: ${spring.datasource.driver-class-name}
    url: jdbc:mysql://${spring.datasource.host}:${spring.datasource.port}/${spring.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
  data:
    redis:
      host: ${spring.data.redis.host}
      port: ${spring.data.redis.port}
      password: ${spring.data.redis.password}
      database: ${spring.data.redis.database}
      lettuce:
        shutdown-timeout: 100ms
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 1
          time-between-eviction-runs: 10s
  rabbitmq:
    host: ${spring.rabbitmq.host}
    port: ${spring.rabbitmq.port}
    username: ${spring.rabbitmq.username}
    password: ${spring.rabbitmq.password}
    listener:
      simple:
        prefetch: 10
        concurrency: 5
        max-concurrency: 10
    virtual-host: ${spring.rabbitmq.virtual-host}
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.activity.manage.pojo.entity
  configuration:
    map-underscore-to-camel-case: true
aliyun:
  oss:
    endpoint: ${aliyun.oss.endpoint}
    accessKeyId: ${aliyun.oss.accessKeyId}
    accessKeySecret: ${aliyun.oss.accessKeySecret}
    bucketName: ${aliyun.oss.bucketName}
logging:
  level:
    com.activity.manage: debug

manage:
  activity-page: ${manage.activity-page}
  restoration-page: ${manage.restoration-page}
  checkin-page: ${manage.checkin-page}
